#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

.mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.bg-home {
  background-image: url(../src/img/homeBground.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.bg-about {
  background-image: url(../src/img/aboutBground.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-projects {
  background-image: url(../src/img/projectsBground.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-contact {
  background-image: url(../src/img/contactBground.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fullHeight{
  height: 100vh;
}

.stack span {
  font-size: 30px;
}

.font25 {
  font-size: 25px;
}

.icon:hover {
  background-color: transparent;
  box-shadow: 2px solid grey;
}

.neucha {
  font-family: 'Neucha', cursive;
  font-size: 18px;
}

.jumbotron {
  margin-bottom: 1rem !important;
}

.cardProject {
  max-width: 18rem;
}



